<h1>Pasture Definition</h1>
<br />
<br />
    <p>Pasture Name</p>
    <p><%= pasture.pasture_name %></p>

    <p>Pasture Size</p>
    <p><%= pasture.pasture_size %> acres</p>

    <p>Longitude</p>
    <p><%= pasture.longitude %></p>

    <p>Latitude</p>
    <p><%= pasture.latitude %></p>

    <p>Map</p>
    <p><%= pasture.map %></p>

    <p>Pasture Productivity</p>
    <p><%= pasture.productivity %> pounds per acre</p>
    <br />
    <br />
    <p><a href="/pastures/<%= pasture.id %>/edit">Edit this Pasture</a></p>
    <p><a href="/pastures">Go to List of Pastures</a></p>